.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: var(--app-bg);
}

.layout__body {
  display: flex;
  flex: 1;
  min-height: 0;
}

@media (min-width: 1024px) {
  .layout--no-sidebar app-sidebar {
    display: none;
  }
}
